{{ asset_add('styles.css', 'anomaly.field_type.repeater::scss/repeater.scss') }}

{{ asset_add("scripts.js", "anomaly.field_type.repeater::js/libraries/cookie.min.js") }}
{{ asset_add("scripts.js", "streams::js/table/jquery-sortable.js") }}
{{ asset_add('scripts.js', 'anomaly.field_type.repeater::js/input.js') }}

{% set instance = str_random() %}

<div {{ html_attributes(field_type.attributes) }} data-instance="{{ instance }}">

    <div class="repeater-list">
        {% for form in field_type.forms %}
            {% include "anomaly.field_type.repeater::item" with {'form': form} %}
        {% endfor %}
    </div>

    {% if not field_type.readonly %}
        <div class="repeater-controls">

            <a href="{{ url('admin/repeater-field_type/form/' ~ field_type.id() ~ '?prefix=' ~ field_type.prefix) }}"
               class="add-row btn btn-sm btn-success"
               data-instance="{{ instance }}"
               data-loading="{{ trans('anomaly.field_type.repeater::message.loading') }}">
                {{ trans(field_type.config.add_row ?: 'anomaly.field_type.repeater::button.add_row') }}
            </a>

            {% if field_type.config.manage %}
                <a href="{{ url('admin/repeaters') }}" class="btn btn-sm btn-warning" target="_blank">
                    {{ icon('fa fa-wrench') }}
                    {{ trans('anomaly.field_type.repeater::button.manage') }}
                </a>
            {% endif %}

        </div>
    {% endif %}

</div>
