{{ asset_add('styles.css', 'anomaly.field_type.repeater::scss/repeater.scss') }}

{{ asset_add("scripts.js", "streams::js/table/jquery-sortable.js") }}
{{ asset_add('scripts.js', 'anomaly.field_type.repeater::js/input.js') }}

<div {{ html_attributes(field_type.attributes) }}>

    <div class="repeater-list">
        {% for form in field_type.forms %}
            {% include "anomaly.field_type.repeater::item" with {'form': form} %}
        {% endfor %}
    </div>

    <div class="repeater-controls">
        <a href="{{ url('admin/repeater-field_type/form/' ~ field_type.id() ~ '?prefix=' ~ field_type.prefix) }}"
           class="add-row btn btn-sm btn-success"
           data-loading="{{ trans('anomaly.field_type.repeater::message.loading') }}">
            {{ trans(field_type.config.add_row ?: 'anomaly.field_type.repeater::button.add_row') }}
        </a>

        <a href="/admin/repeaters" target="_blank" class="btn btn-sm btn-warning">
            {{ icon('wrench') }}
            {{ trans('anomaly.field_type.repeater::button.manage') }}
        </a>
    </div>

</div>
